.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.courses-list {
  padding: 20px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.course-card {
  max-width: 400px;
  cursor: pointer;

  .course-card__image {
    height: 250px;
  }
}
