.view {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

.educational-pool {
  display: flex;
  padding: 20px;

  .educational-pool__property {
    font-weight: 500;
  }

  .educational-pool__vote-btn {
    margin-right: 20px;
  }

  .educational-pool__basics {
    margin-left: 20px;
    flex: 3;
  }

  .educational-pool__image-container {
    width: 45%;
    height: 400px;
    flex: 2;

    .educational-pool__image {
      width: 100%;
      max-height: 400px;
    }
  }
}

app-educational-pool-materials {
  display: block;
  margin-top: 20px;
}
