.role-selection {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  padding-top: 10%;

  .role-selection__card {
    background: #fff;
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-direction: column;
  }

  .role-selection__title {
    font-weight: 400;
  }

  .role-selection__form {
    display: flex;
    flex-direction: column;
    max-width: 300px;

    label {
      text-align: center;
      input {
        margin-right: 15px;
      }
    }

    label, button {
      margin-bottom: 20px;
    }

    .role-selection__conditions-checkbox {
      font-size: 12px;
    }
  }
}
