.view {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

.teaching-classes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.teaching-class {
  cursor: pointer;
  width: 400px;
  .teaching-class__property {
    padding: 10px;
  }
  .teaching-class__header {
    display: flex;
    align-items: center;
  }
  .teaching-class__image {
    width: 80px;
    height: 80px;
  }
  .teaching-class__content {
    display: flex;
    font-size: 16px;
    margin-top: 15px;
  }
}

.bolder {
  font-weight: 500;
}
