.purchase-for-group-dialog {
  width: 400px;

  .purchase-for-group-dialog__content {
    padding: 25px 0;
    font-size: 18px;
  }
}

.bolder {
  font-weight: 500;
}

.group-source__radio {
  margin-right: 10px;
}
.group-source__label {
  margin-right: 10px;
}

.bolder {
  font-weight: 500;
}

p {
  margin-bottom: 20px;
}

mat-form-field {
  display: block;
}

.group-select {
  margin-top: 20px;
}
