<section class="view">
  <app-market-lessons-filters (filtersChange)="filterRecords($event)"></app-market-lessons-filters>
  <div class="view__content">
    <div class="lessons-list">
      <mat-card
        class="lesson-card mat-elevation-z6"
        *ngFor="let marketLesson of marketLessons"
      >
        <a class="lesson-card__link" [routerLink]="marketLesson.id">
          <mat-card-header>
            <mat-card-title>
              <mat-icon class="video-icon" *ngIf="marketLesson.type === 'video'">play_circle_outline</mat-icon>
              <mat-icon class="audio-icon" *ngIf="marketLesson.type === 'audio'">music_video</mat-icon>
              <mat-icon class="pdf-icon" *ngIf="marketLesson.type === 'pdf'">picture_as_pdf</mat-icon>
            {{ marketLesson.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div *ngIf="marketLesson.previewCID" class="lesson-card__image-container">
              <img class="lesson-card__image" mat-card-image src="{{ marketLesson.previewCID | ipfs }}" alt="{{ marketLesson.title }}">
            </div>
            <div *ngIf="marketLesson.description" class="lesson-card__description">
              <p class="line-clamp">{{ marketLesson.description }}</p>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Author: {{ marketLesson.author.email }}</button>
            <button mat-button>Type: {{ marketLesson.type }}</button>
            <button mat-button>Price: {{ marketLesson.price || 'Free' }}</button>
          </mat-card-actions>
        </a>
      </mat-card>
    </div>
    <div class="pagination">
      <mat-paginator
        [length]="recordsCount"
        [pageSize]="pageSize"
        [pageIndex]="pageNumber"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="loadRecords($event)"
        aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</section>
