<div *ngIf="lesson" class="lesson">
  <div class="lesson__content">
    <video controls controlsList="nodownload" class="lesson__video">
      <source [src]="lesson.cid | ipfs" type="video/mp4">
    </video>
    <div class="lesson__details">
      <h1 class="lesson__title"><mat-icon class="lesson__type-icon">play_circle_outline</mat-icon>{{ lesson.title }}</h1>
      <div class="lesson__metadata">
        <h3>Author: {{ lesson.author.email }}</h3>
        <h3>Type: {{ lesson.type }}</h3>
        <h3>Price: {{ lesson.price || 'Free' }}</h3>
      </div>
      <div class="action-buttons">
        <ng-container *ngIf="authService.hasValidAccessToken">
          <button
            mat-stroked-button
            color="primary"
            class="like-btn"
            [matTooltip]="'Like this'"
            (click)="emitLike()">
            {{ lesson.liked ? 'Liked' : 'Like' }} <mat-icon>thumb_up</mat-icon></button>
          <button
            *ngIf="lesson && !lesson.price; else purchaseButton"
            mat-stroked-button
            color="primary"
            class="tip-btn"
            [matTooltip]="'Give a tip'"
            (click)="emitOpenTippingDialog()">Tip <mat-icon class="tip-icon">favorite</mat-icon>
          </button>
          <ng-template #purchaseButton>
            <button
              mat-stroked-button
              color="primary"
              class="purchase-btn"
              [matMenuTriggerFor]="purchaseMenu"
              [matTooltip]="'Purchase'"
            >
              Purchase <mat-icon class="purchase-icon">shopping_basket</mat-icon>
              <mat-menu #purchaseMenu="matMenu">
                <button mat-menu-item (click)="emitOpenPurchaseDialog()">For me</button>
              </mat-menu>
            </button>
          </ng-template>
        </ng-container>
        <ng-container *ngIf="!authService.hasValidAccessToken">
          <button
            mat-stroked-button
            color="primary"
            class="like-btn"
            [matTooltip]="'To like this lesson you have to sign in'"
            routerLink="/account/login">
            Like <mat-icon>thumb_up</mat-icon></button>
          <button
            *ngIf="lesson && !lesson.price; else purchaseButton"
            mat-stroked-button
            color="primary"
            class="tip-btn"
            [matTooltip]="'To give a tip you have to sign in'"
            routerLink="/account/login"
          >Tip <mat-icon class="tip-icon">favorite</mat-icon>
          </button>
          <ng-template #purchaseButton>
            <button
              mat-stroked-button
              color="primary"
              class="purchase-btn"
              [matMenuTriggerFor]="purchaseMenu"
              [matTooltip]="'To purchase a lesson you have to sign in'"
              routerLink="/account/login"
              >Purchase <mat-icon class="purchase-icon">shopping_basket</mat-icon>
              <mat-menu #purchaseMenu="matMenu">
                <button mat-menu-item (click)="emitOpenPurchaseDialog()">For me</button>
              </mat-menu>
            </button>
          </ng-template>
        </ng-container>
      </div>
      <p class="lesson__description">{{ lesson.description }}</p>
    </div>
  </div>
</div>
