<section class="view">
  <div class="lessons">
    <button class="lessons__create" mat-stroked-button color="primary" routerLink="new">Create new lesson</button>
    <ng-container *ngIf="lessons; else noRecords">
      <mat-card
        class="lesson"
        *ngFor="let lesson of lessons"
        [routerLink]="[lesson.id]"
      >
        <mat-card-header class="lesson__header">
          <mat-card-title>{{ lesson.title }}</mat-card-title>
          <img *ngIf="lesson.previewCID" mat-card-avatar class="lesson__image" [src]="lesson.previewCID | ipfs">
        </mat-card-header>
        <mat-card-content class="lesson__content">
          <div *ngIf="lesson.description" class="lesson__property">
            <p>{{ lesson.description }}</p>
          </div>
          <div class="lesson__property">
            <p><span class="bolder">Type:</span> {{ lesson.type }}</p>
          </div>
          <div *ngIf="lesson.nft" class="lesson__property">
            <p><span class="bolder">NFT:</span> {{ lesson.nft }}</p>
          </div>
          <div class="lesson__property lesson__ipfs">
            <p class="lesson__ipfs-text"><span class="bolder">Interplanetary File System (IPFS) content file address:</span> {{ lesson.cid }}</p>
            <button mat-stroked-button color="primary" (click)="displayCopyingConfirmation($event)" [cdkCopyToClipboard]="lesson.cid" matTooltip="Copy to clipboard"><mat-icon>file_copy</mat-icon></button>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-paginator
        [length]="recordsCount"
        [pageSize]="pageSize"
        [pageIndex]="pageNumber"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="loadRecords($event)"
        aria-label="Select page">
      </mat-paginator>
    </ng-container>
    <ng-template #noRecords>
      <div class="no-records mat-elevation-z2">
        <h3>Sorry, no records found</h3>
      </div>
    </ng-template>
  </div>
</section>

