.view {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

.lessons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .lessons__create {
    margin: 15px 0;
  }
}

.lesson {
  cursor: pointer;
  width: 100%;

  .lesson__ipfs {
    .lesson__ipfs-text {
      margin: 0 15px 0 0;
    }
    display: flex;
    align-items: center;
  }

  .lesson__nft {
    button {
      margin-left: 15px;
    }
    display: flex;
    align-items: center;
  }
  .lesson__property {
    padding: 10px;
  }
  .lesson__header {
    display: flex;
    align-items: center;
  }
  .lesson__image {
    width: 80px;
    height: 80px;
  }
  .lesson__content {
    font-size: 16px;
    margin-top: 15px;
  }
}

.bolder {
  font-weight: 500;
}

.no-records {
  width: 100%;
  padding: 10px;
  h3 {
    margin: 10px;
  }
}
