<section class="view">
  <div class="course mat-elevation-z2">
    <ng-container *ngIf="course">
      <div  class="course__image-container">
        <img class="course__image" [src]="course.imgSrc">
      </div>
      <div class="course__basics">
        <h1>{{ course.title }}</h1>
        <h2>Author: {{ course.author }}</h2>
        <h2>Price: {{ course.price || 'Free' }}</h2>
        <h2 class="rating">Rating:
          <mat-icon class="rating-star">star</mat-icon>
          <mat-icon class="rating-star">star</mat-icon>
          <mat-icon class="rating-star">star</mat-icon>
          <mat-icon class="rating-star">star</mat-icon>
          <mat-icon class="rating-star">star</mat-icon>
        </h2>
        <div class="action-buttons">
          <button *ngIf="course && !course.price; else purchaseButton" mat-stroked-button color="primary" class="tip-btn" (click)="openTippingDialog()">Tip <mat-icon class="tip-icon">favorite</mat-icon></button>
          <ng-template #purchaseButton>
            <button mat-stroked-button color="primary" class="purchase-btn" (click)="openPurchaseDialog()">Purchase <mat-icon class="purchase-icon">shopping_basket</mat-icon></button>
          </ng-template>
          <button mat-stroked-button color="primary" [matMenuTriggerFor]="lockedPrizeMenu">
            Lock prize	<mat-icon class="lock-icon">lock</mat-icon>
            <mat-menu #lockedPrizeMenu="matMenu">
              <button mat-menu-item (click)="openPesonalLockedPrizeDialog()">For the person</button>
              <button mat-menu-item (click)="openGroupLockedPrizeDialog()">For the group</button>
            </mat-menu>
          </button>

        </div>
        <p>{{ course.description }}</p>
      </div>
    </ng-container>
  </div>
  <app-course-comments></app-course-comments>
</section>
