<section class="view">
  <h2>Achievements</h2>
  <ng-container *ngIf="achievements && achievements.length;">
    <mat-card class="achievement mat-elevation-z2" *ngFor="let achievement of achievements">
      <mat-card-content>
        <div class="achievement__details">
          <div class="achievement__image-container ">
            <img class="achievement__image" [src]="achievement.imgSrc">
          </div>
          <div class="achievement__description">
            <h2>
              <span class="achievement__type">{{ achievement.type }}: </span>
              <span>{{ achievement.title }}</span>
            </h2>
            <p class="achievement__ntf-id">Achieved: {{ achievement.created}}</p>
            <p class="achievement__ntf-id">NFT token id: {{ achievement.nftTokenId}}
              <!-- TODO: add copying mechanism -->
              <mat-icon class="achievement__ntf-id-copy-icon" matTooltip="Copy" (click)="copyNFTId()">file_copy</mat-icon>
            </p>
            <!-- TODO download attribute may no be the best option https://caniuse.com/download In future use specialized package for that -->
            <a [href]="achievement.certificateUrl" download>
              <button mat-stroked-button color="primary">Download certificate (.pdf)	<mat-icon>save_alt</mat-icon></button>
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-container *ngIf="achievements && !achievements.length">
    <p>There are still so many things to achieve :)</p>
  </ng-container>
</section>
