<section class="view">
  <h2>Materials</h2>
  <ng-container *ngIf="eduMaterials && eduMaterials.length;">
    <mat-card class="material mat-elevation-z2" *ngFor="let material of eduMaterials">
      <mat-card-content>
        <div class="material__details">
          <div class="material__image-container ">
            <img class="material__image" [src]="material.imgSrc">
          </div>
          <div class="material__description">
            <div class="material__description-header">
              <h2>
                <span class="material__type">{{ material.type }}: </span>
                <span>{{ material.title }}</span>
              </h2>
              <span class="material__creation-timestamp">Created: {{ material.created}}</span>
            </div>
            <p class="material__property">Author: {{ material.author}}</p>
            <p class="material__property">Gathered funds from the pool: {{ material.gatheredFunds || 'Free' }}</p>
            <p class="material__property">Votes: {{ material.votes}}</p>
            <button
              class="educational-pool__vote-btn modal-launcher-btn"
              mat-stroked-button
              color="primary"
              matTooltip="Vote if you think this material should take the available funds from the pool"
              (click)="openVoteDialog(material)">Vote</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-container *ngIf="eduMaterials && !eduMaterials.length">
    <p>There are no materials in this educational pool</p>
  </ng-container>
</section>
