<div *ngIf="lesson" class="lesson">
  <div class="lesson__content">
    <h1 class="lesson__title"><mat-icon class="lesson__type-icon">music_video</mat-icon>{{ lesson.title }}</h1>
    <div class="lesson__basics">
      <div class="lesson__esence">
        <audio class="lesson__audio" controls controlsList="nodownload">
          <source [src]="lesson.cid | ipfs" type="audio/ogg">
        </audio>
        <div *ngIf="authService.hasValidAccessToken" class="action-buttons">
          <button *ngIf="lesson && !lesson.price; else purchaseButton" mat-stroked-button color="primary" class="tip-btn" (click)="emitOpenTippingDialog()">
            Tip <mat-icon class="tip-icon">favorite</mat-icon>
          </button>
          <ng-template #purchaseButton>
            <button mat-stroked-button color="primary" class="purchase-btn" [matMenuTriggerFor]="purchaseMenu">
              Purchase <mat-icon class="purchase-icon">shopping_basket</mat-icon>
              <mat-menu #purchaseMenu="matMenu">
                <button mat-menu-item (click)="emitOpenPurchaseDialog()">For me</button>
              </mat-menu>
          </button>
        </ng-template>
        </div>
      </div>
      <div class="lesson__details">
        <div class="lesson__metadata">
          <h3>Author: {{ lesson.author.email }}</h3>
          <h3>Type: {{ lesson.type }}</h3>
          <h3>Price: {{ lesson.price || 'Free' }}</h3>
        </div>
        <p class="lesson__description">{{ lesson.description }}</p>
      </div>
    </div>
  </div>
</div>
