.view {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

.pools {
  display: flex;
  padding: 20px;
  gap: 45px;
  flex-wrap: wrap;

  .pools__circle {
    cursor: pointer;
    width: 268px;
    height: 268px;
    border-radius: 204px;
    border: 2px solid #3f51b5;
    display: flex;
    justify-content: center;
    align-items: center;

    .pool__content {
      color: rgba(0, 0, 0, 0.87);
      text-align:center;
    }

    .pool__title {
      font-weight: 500;
    }

    .pool__vote-btn {
      margin-right: 10px;
    }
  }
}
