<section class="filters mat-elevation-z2">
  <h3 class="filters__header">FILTERS:</h3>
  <form [formGroup]="form" class="form">
    <div class="form__type">
      <mat-checkbox class="form-control" formControlName="video">Video</mat-checkbox>
      <mat-checkbox class="form-control" formControlName="audio">Audio</mat-checkbox>
      <mat-checkbox class="form-control" formControlName="pdf">PDF</mat-checkbox>
    </div>

    <div class="form__price">
      <mat-form-field class="form-control">
        <mat-label>Minimum price</mat-label>
        <input type="number" step="1" min="0" matInput autocomplete="off" formControlName="minPrice">
      </mat-form-field>

      <mat-form-field class="form-control">
        <mat-label>Maximum price</mat-label>
        <input type="number" step="1" min="0" matInput autocomplete="off" formControlName="maxPrice">
      </mat-form-field>
    </div>

  </form>
  <button class="clearing-btn" mat-button color="basic" (click)="resetFilters()">Reset filters</button>
</section>
