<section class="filters mat-elevation-z2">
  <h3 class="filters__header">FILTERS:</h3>
  <form [formGroup]="form" class="form">
    <div class="form__type">
      <mat-checkbox
        class="form-control"
        matTooltip="At least one filter must be active"
        [matTooltipDisabled]="form.value.audio || form.value.pdf"
        [disabled]="!form.value.audio && !form.value.pdf"
        formControlName="video">Video</mat-checkbox>
      <mat-checkbox
        class="form-control"
        matTooltip="At least one filter must be active"
        [matTooltipDisabled]="form.value.video || form.value.pdf"
        [disabled]="!form.value.video && !form.value.pdf"
        formControlName="audio">Audio</mat-checkbox>
      <mat-checkbox
        class="form-control"
        matTooltip="At least one filter must be active"
        [matTooltipDisabled]="form.value.audio || form.value.video"
        [disabled]="!form.value.audio && !form.value.video
        " formControlName="pdf">PDF</mat-checkbox>
    </div>

    <div class="form__price">
      <mat-form-field class="form-control">
        <mat-label>Minimum price</mat-label>
        <input type="number" step="1" min="0" matInput autocomplete="off" formControlName="minPrice">
      </mat-form-field>

      <mat-form-field class="form-control">
        <mat-label>Maximum price</mat-label>
        <input type="number" step="1" min="0" matInput autocomplete="off" formControlName="maxPrice">
      </mat-form-field>
    </div>

  </form>
  <button class="clearing-btn" mat-button color="basic" (click)="resetFilters()">Reset filters</button>
</section>
