.view {
  padding: 20px;
}

.lesson {
  display: flex;
  padding: 20px;

  .lesson__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 20px;
  }

  .lesson__header {
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .lesson__subheader {
    font-weight: 400;
  }

  .lesson__basics {
    margin-left: 20px;
    flex: 3;
  }

  .lesson__image-container {
    width: 45%;
    height: 400px;
    flex: 2;

    .lesson__image {
      object-fit: cover;
      width: 100%;
      max-height: 400px;
    }
  }

  .lesson__content-preview {
    display: flex;
    align-items: center;
  }
}

.rating {
  display: flex;
  align-items: center;
  .rating-star {
    color: #ebeb2b;
  }
}

.action-buttons {
  margin-bottom: 20px;
}

.purchase-btn,
.tip-btn {
  margin-right: 20px;
}

.tip-icon {
  color: #ff3d3d
}

.purchase-btn {
  color: #009688;
}

.lock-icon {
  color: #673ab7;
}
