<section class="view">
  <ng-container *ngIf="teacherClass">
    <div class="teachingClass mat-elevation-z2">
      <div  class="teaching-class__image-container">
        <img class="teaching-class__image" [src]="teacherClass.imgSrc">
      </div>
      <div class="teaching-class__basics">
        <h1>{{ teacherClass.title }}</h1>
          <button mat-stroked-button color="primary">
            Upload video <mat-icon>video_call</mat-icon>
          </button>

      </div>
    </div>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Members
          </mat-panel-title>
          <mat-panel-description>
            Number: {{ teacherClass.membersNumber }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Here should go the members list</p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lessons
          </mat-panel-title>
          <mat-panel-description>
            Number: {{ teacherClass.materialsCount.lessons }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Here should go the lessons list</p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Videos
          </mat-panel-title>
          <mat-panel-description>
            Number: {{ teacherClass.materialsCount.videos }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Here should go the viedos list</p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Home assignments
          </mat-panel-title>
          <mat-panel-description>
            Number: {{ teacherClass.materialsCount.homeAssignments }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Here should go the home assignments list</p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Texts
          </mat-panel-title>
          <mat-panel-description>
            Number: {{ teacherClass.materialsCount.texts }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Here should go the texts list</p>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</section>
