<section class="view">
  <section class="transactions mat-elevation-z2">
    <h2>Transactions history</h2>
    <app-transactions-history [transactions]="transactions"></app-transactions-history>
  </section>

  <section class="lessons mat-elevation-z2">
    <h2>Lessons</h2>
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Liked">
          <app-learner-liked-lessons></app-learner-liked-lessons>
      </mat-tab>
      <mat-tab label="Tipped" [disabled]="true">
          <app-learner-tipped-lessons></app-learner-tipped-lessons>
      </mat-tab>
      <mat-tab label="Bought" [disabled]="true">Bought</mat-tab>
      <mat-tab label="Done" [disabled]="true">Done</mat-tab>
    </mat-tab-group>
  </section>
</section>
