.register {
  display: flex;
  align-items: center;
  padding-top: 10%;
  flex-direction: column;

  .register__form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
}

.passwords-error {
  margin-bottom: 15px;
}
