<section class="view">
  <h2>Comments</h2>
  <ng-container *ngIf="comments && comments.length;">
    <mat-card class="comment" *ngFor="let comment of comments">
      <mat-card-subtitle class="comment__header">
        <span>{{ comment.author }}</span>
        <span>{{ comment.created }}</span>
      </mat-card-subtitle>

      <mat-card-content>
        <p>{{ comment.text}}</p>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-container *ngIf="comments && !comments.length">
    <p>NO COMMENTS HAVE BEEN ADDED YET</p>
  </ng-container>
</section>

